<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7775155401-lp1mqgtn0qr5p51lokja7351me7okoka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7775155401-lp1mqgtn0qr5p51lokja7351me7okoka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>7775155401-jf1iani8qn7b6mpou70ejara4revopu1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxePOT15e3e5-3JrR2fPL5PLMKNAPy_V8</string>
	<key>GCM_SENDER_ID</key>
	<string>7775155401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.midwifementor</string>
	<key>PROJECT_ID</key>
	<string>midwifementor-a515e</string>
	<key>STORAGE_BUCKET</key>
	<string>midwifementor-a515e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7775155401:ios:e4ce4296e6c08dc7cfc918</string>
</dict>
</plist>